* text=auto !eol
applications/calcif2/AUTHORS -text
applications/calcif2/COPYING -text
applications/calcif2/ChangeLog -text
applications/calcif2/Makefile.am -text
applications/calcif2/NEWS -text
applications/calcif2/README -text
applications/calcif2/TODO -text
applications/calcif2/configure.ac -text
applications/calcif2/examples/job820.6.0.calc -text
applications/calcif2/src/CALCServer.h -text
applications/calcif2/src/CALC_xdr.c -text
applications/calcif2/src/MATHCNST.H -text
applications/calcif2/src/Makefile.am -text
applications/calcif2/src/calcif2.c -text
applications/calcif2/src/difxcalc.c -text
applications/calcif2/src/difxcalc.h -text
applications/calcif2/src/externaldelay.c -text
applications/calcif2/src/externaldelay.h -text
applications/calcif2/src/poly.c -text
applications/calcif2/src/poly.h -text
applications/calcif2/src/testpoly.c -text
applications/calcif2/utils/Makefile.am -text
applications/calcif2/utils/calc2skd.c -text
applications/calcif2/utils/difxsniff -text
applications/calcif2/utils/genmachines.py -text
applications/calcif2/utils/jobdisks -text
applications/calcif2/utils/joblist -text
applications/calcif2/utils/jobstatus -text
applications/calcif2/utils/listcpus -text
applications/calcif2/utils/listmodules -text
applications/calcif2/utils/startdifx -text
applications/calcif2/utils/vlog -text
applications/calcserver/AUTHORS -text
applications/calcserver/ChangeLog -text
applications/calcserver/Makefile.am -text
applications/calcserver/NEWS -text
applications/calcserver/README -text
applications/calcserver/calc9.1/CALCIO.INC -text
applications/calcserver/calc9.1/Makefile.am -text
applications/calcserver/calc9.1/calcinit.f -text
applications/calcserver/calc9.1/calcmodl2.f -text
applications/calcserver/calc9.1/catiu.f -text
applications/calcserver/calc9.1/catmm.f -text
applications/calcserver/calc9.1/caxom.f -text
applications/calcserver/calc9.1/ccon.i -text
applications/calcserver/calc9.1/cctiu.f -text
applications/calcserver/calc9.1/cdiuu.f -text
applications/calcserver/calc9.1/cdrvr.f -text
applications/calcserver/calc9.1/cetdm.f -text
applications/calcserver/calc9.1/cinit.f -text
applications/calcserver/calc9.1/ckill.f -text
applications/calcserver/calc9.1/cm20u.f -text
applications/calcserver/calc9.1/cmabd.f -text
applications/calcserver/calc9.1/cmatu.f -text
applications/calcserver/calc9.1/cmwob.i -text
applications/calcserver/calc9.1/cmxsr.i -text
applications/calcserver/calc9.1/cmxst.i -text
applications/calcserver/calc9.1/cmxut.i -text
applications/calcserver/calc9.1/cnutm.f -text
applications/calcserver/calc9.1/cobse.f -text
applications/calcserver/calc9.1/cobsn.i -text
applications/calcserver/calc9.1/cocem.f -text
applications/calcserver/calc9.1/cpepu.f -text
applications/calcserver/calc9.1/cphys.i -text
applications/calcserver/calc9.1/cplxm.f -text
applications/calcserver/calc9.1/cprem.f -text
applications/calcserver/calc9.1/cptdm.f -text
applications/calcserver/calc9.1/cquit.f -text
applications/calcserver/calc9.1/crosu.f -text
applications/calcserver/calc9.1/csitm.f -text
applications/calcserver/calc9.1/csitu.f -text
applications/calcserver/calc9.1/csolsys.i -text
applications/calcserver/calc9.1/cstrm.f -text
applications/calcserver/calc9.1/cstrt.f -text
applications/calcserver/calc9.1/ctheu.f -text
applications/calcserver/calc9.1/cuser.i -text
applications/calcserver/calc9.1/cut1m.f -text
applications/calcserver/calc9.1/cutcu.f -text
applications/calcserver/calc9.1/cuvm.f -text
applications/calcserver/calc9.1/cvecu.f -text
applications/calcserver/calc9.1/cwobm.f -text
applications/calcserver/calc9.1/inputs.i -text
applications/calcserver/calc9.1/interface.f -text
applications/calcserver/calc9.1/mjd2day.f -text
applications/calcserver/calc9.1/mjd2jd.f -text
applications/calcserver/calc9.1/mvrec.f -text
applications/calcserver/calc9.1/param.i -text
applications/calcserver/configure.ac -text
applications/calcserver/data/Horizons.lis -text
applications/calcserver/data/JPLEPH -text svneol=unset#unset
applications/calcserver/data/Makefile.am -text
applications/calcserver/init.d/calcserver.in -text
applications/calcserver/postinstall -text
applications/calcserver/src/CALC5Server.c -text
applications/calcserver/src/CALCServer.h -text
applications/calcserver/src/CALC_xdr.c -text
applications/calcserver/src/MATHCNST.H -text
applications/calcserver/src/Makefile.am -text
applications/calcserver/src/STDDEFS.H -text
applications/calcserver/src/checkcalc.c -text
applications/calcserver/src/cvrtuc.c -text
applications/calcserver/src/ingdec.c -text
applications/calcserver/src/ingra.c -text
applications/calcserver/src/iword.c -text
applications/calcserver/src/mjd2str.c -text
applications/calcserver/src/ocean.h -text
applications/calcserver/src/sindex.c -text
applications/calcserver/src/time2str.c -text
applications/calcserver/src/vlb.h -text
applications/calcserver/startCalcServer.in -text
applications/difx2fits/AUTHORS -text
applications/difx2fits/COPYING -text
applications/difx2fits/ChangeLog -text
applications/difx2fits/Makefile.am -text
applications/difx2fits/README -text
applications/difx2fits/configure.ac -text
applications/difx2fits/doc/wiki -text
applications/difx2fits/src/Makefile.am -text
applications/difx2fits/src/difx2fits.c -text
applications/difx2fits/src/difx2fits.h -text
applications/difx2fits/src/fits.c -text
applications/difx2fits/src/fits.h -text
applications/difx2fits/src/fitsAG.c -text
applications/difx2fits/src/fitsAN.c -text
applications/difx2fits/src/fitsCT.c -text
applications/difx2fits/src/fitsFL.c -text
applications/difx2fits/src/fitsFR.c -text
applications/difx2fits/src/fitsGD.c -text
applications/difx2fits/src/fitsGM.c -text
applications/difx2fits/src/fitsGN.c -text
applications/difx2fits/src/fitsHeader.c -text
applications/difx2fits/src/fitsMC.c -text
applications/difx2fits/src/fitsML.c -text
applications/difx2fits/src/fitsPH.c -text
applications/difx2fits/src/fitsSO.c -text
applications/difx2fits/src/fitsSU.c -text
applications/difx2fits/src/fitsTS.c -text
applications/difx2fits/src/fitsUV.c -text
applications/difx2fits/src/fitsUV.h -text
applications/difx2fits/src/fitsWR.c -text
applications/difx2fits/src/jobmatrix.c -text
applications/difx2fits/src/jobmatrix.h -text
applications/difx2fits/src/mjd2str.c -text
applications/difx2fits/src/other.h -text
applications/difx2fits/src/sniffer.c -text
applications/difx2fits/src/sniffer.h -text
applications/difx2fits/src/textutils.c -text
applications/difx2fits/src/time2str.c -text
applications/difx2fits/src/util.c -text
applications/difx2fits/src/util.h -text
applications/difx2fits/src/ymd2mjd.c -text
applications/difx2fits/utils/Makefile.am -text
applications/difx2fits/utils/gentcal -text
applications/difx2fits/utils/makefits -text
applications/difx2fits/utils/showcal -text
applications/difx2mark4/AUTHORS -text
applications/difx2mark4/ChangeLog -text
applications/difx2mark4/Makefile.am -text
applications/difx2mark4/NEWS -text
applications/difx2mark4/README -text
applications/difx2mark4/build-mark4 -text
applications/difx2mark4/configure.ac -text
applications/difx2mark4/src/Makefile.am -text
applications/difx2mark4/src/conv2date.c -text
applications/difx2mark4/src/createRoot.c -text
applications/difx2mark4/src/createType1s.c -text
applications/difx2mark4/src/createType3s.c -text
applications/difx2mark4/src/difx2mark4.c -text
applications/difx2mark4/src/difx2mark4.h -text
applications/difx2mark4/src/fill_fblock.c -text
applications/difx2mark4/src/get_vis.c -text
applications/difx2mark4/src/mk4_typedefs.h -text
applications/difx2mark4/src/new_type1.c -text
applications/difx2mark4/src/normalize.c -text
applications/difx2mark4/src/other.c -text
applications/difx2mark4/src/other.h -text
applications/difx2mark4/src/root_id.c -text
applications/difx2mark4/src/single_code.c -text
applications/difx2mark4/src/swabr.c -text
applications/difx2mark4/src/type_000.h -text
applications/difx2mark4/src/type_100.h -text
applications/difx2mark4/src/type_101.h -text
applications/difx2mark4/src/type_110.h -text
applications/difx2mark4/src/type_120.h -text
applications/difx2mark4/src/type_300.h -text
applications/difx2mark4/src/type_301.h -text
applications/difx2mark4/src/type_302.h -text
applications/difx2mark4/src/type_303.h -text
applications/difx2mark4/src/type_304.h -text
applications/difx2mark4/src/type_305.h -text
applications/difx2mark4/src/type_306.h -text
applications/difx2mark4/src/type_307.h -text
applications/difx2mark4/src/type_308.h -text
applications/difx2mark4/src/type_309.h -text
applications/difx2mark4/src/update_stations.c -text
applications/difx2mark4/src/write_t100.c -text
applications/difx2mark4/src/write_t101.c -text
applications/difx2mark4/src/write_t120.c -text
applications/difx2mark4/src/write_t300.c -text
applications/difx2mark4/src/write_t301.c -text
applications/difx2mark4/src/write_t302.c -text
applications/difx2mark4/src/write_t303.c -text
applications/difx2mark4/src/write_t309.c -text
applications/difx2mark4/standalone-mark4.txt -text
applications/difx_monitor/Makefile.am -text
applications/difx_monitor/Makefile.orig -text
applications/difx_monitor/README -text
applications/difx_monitor/configure.ac -text
applications/difx_monitor/difx_config.cpp -text
applications/difx_monitor/difx_monitor.cpp -text
applications/difx_monitor/mon3d.c -text
applications/difx_monitor/mon_sample.cpp -text
applications/difx_monitor/monitor_server.cpp -text
applications/difx_monitor/monserver.cpp -text
applications/difx_monitor/monserver.h -text
applications/difx_monitor/stripinput.pl -text
applications/difx_monitor/vcal.cpp -text
applications/difxfilterbank/AUTHORS -text
applications/difxfilterbank/COPYING -text
applications/difxfilterbank/ChangeLog -text
applications/difxfilterbank/INSTALL -text
applications/difxfilterbank/Makefile.am -text
applications/difxfilterbank/NEWS -text
applications/difxfilterbank/README -text
applications/difxfilterbank/configure.ac -text
applications/difxfilterbank/src/Makefile.am -text
applications/difxfilterbank/src/difxfilterbank.cpp -text
applications/difxfilterbank/src/difxfilterbank.h -text
applications/difxfilterbank/transient_daemon/Makefile.am -text
applications/difxfilterbank/transient_daemon/recorr.cpp -text
applications/difxfilterbank/transient_daemon/recorr.h -text
applications/difxfilterbank/transient_daemon/transient_daemon.cpp -text
applications/difxfilterbank/transient_daemon/transient_daemon_control.cpp -text
applications/difxfilterbank/transient_daemon/vfastr.example.conf -text
applications/difxfilterbank/transient_wrapper/Makefile.am -text
applications/difxfilterbank/transient_wrapper/monitor.cpp -text
applications/difxfilterbank/transient_wrapper/transient_wrapper.cpp -text
applications/difxfilterbank/transient_wrapper/transient_wrapper.txt -text
applications/difxfilterbank/transient_wrapper/transient_wrapper_data.cpp -text
applications/difxfilterbank/transient_wrapper/transient_wrapper_data.h -text
applications/difxfilterbank/utilities/Makefile.am -text
applications/difxfilterbank/utilities/difx2fb.cpp -text
applications/difxfilterbank/utilities/difx_fb.h -text
applications/difxfilterbank/utilities/fb_reorder.cpp -text
applications/difxfilterbank/utilities/filterbank2screen.cpp -text
applications/difxfilterbank/utilities/filterbankcount.cpp -text
applications/difxfilterbank/utilities/printfilterbank.cpp -text
applications/difxfilterbank/utilities/readConfig.c -text
applications/difxfilterbank/utilities/readConfig.h -text
applications/difxfilterbank/utilities/split_fb_scan.c -text
libraries/difxio/AUTHORS -text
libraries/difxio/COPYING -text
libraries/difxio/ChangeLog -text
libraries/difxio/Makefile.am -text
libraries/difxio/README -text
libraries/difxio/configure.ac -text
libraries/difxio/difxio.h -text
libraries/difxio/difxio.pc.in -text
libraries/difxio/difxio.spec.in -text
libraries/difxio/difxio/Makefile.am -text
libraries/difxio/difxio/difx_antenna.c -text
libraries/difxio/difxio/difx_baseline.c -text
libraries/difxio/difxio/difx_calculator.c -text
libraries/difxio/difxio/difx_calculator.h -text
libraries/difxio/difxio/difx_config.c -text
libraries/difxio/difxio/difx_datastream.c -text
libraries/difxio/difxio/difx_eop.c -text
libraries/difxio/difxio/difx_flag.c -text
libraries/difxio/difxio/difx_freq.c -text
libraries/difxio/difxio/difx_if.c -text
libraries/difxio/difxio/difx_input.c -text
libraries/difxio/difxio/difx_input.h -text
libraries/difxio/difxio/difx_input_merge.c -text
libraries/difxio/difxio/difx_job.c -text
libraries/difxio/difxio/difx_model.c -text
libraries/difxio/difxio/difx_phasedarray.c -text
libraries/difxio/difxio/difx_poly_model.c -text
libraries/difxio/difxio/difx_polyco.c -text
libraries/difxio/difxio/difx_pulsar.c -text
libraries/difxio/difxio/difx_rule.c -text
libraries/difxio/difxio/difx_scan.c -text
libraries/difxio/difxio/difx_source.c -text
libraries/difxio/difxio/difx_spacecraft.c -text
libraries/difxio/difxio/difx_tcal.c -text
libraries/difxio/difxio/difx_tcal.h -text
libraries/difxio/difxio/difx_threads.c -text
libraries/difxio/difxio/difx_write.c -text
libraries/difxio/difxio/difx_write.h -text
libraries/difxio/difxio/difx_write_calc.c -text
libraries/difxio/difxio/difx_write_im.c -text
libraries/difxio/difxio/difx_write_input.c -text
libraries/difxio/difxio/difx_write_pulsar.c -text
libraries/difxio/difxio/parsedifx.c -text
libraries/difxio/difxio/parsedifx.h -text
libraries/difxio/difxio/parsevis.c -text
libraries/difxio/difxio/parsevis.h -text
libraries/difxio/difxio/remap.c -text
libraries/difxio/tests/Makefile.am -text
libraries/difxio/tests/pb_math.c -text
libraries/difxio/tests/pbgen.c -text
libraries/difxio/tests/pbgen.h -text
libraries/difxio/tests/testdifxinput.c -text
libraries/difxio/tests/testephem.c -text
libraries/difxio/tests/testparsedifx.c -text
libraries/difxio/tests/testparsevis.c -text
libraries/difxio/tests/teststringarray.c -text
libraries/difxio/tests/testtcal.c -text
libraries/difxio/tests/util.c -text
libraries/difxio/tests/util.h -text
libraries/difxio/utils/Makefile.am -text
libraries/difxio/utils/difxcalculator.c -text
libraries/difxmessage/AUTHORS -text
libraries/difxmessage/COPYING -text
libraries/difxmessage/ChangeLog -text
libraries/difxmessage/INSTALL -text
libraries/difxmessage/Makefile.am -text
libraries/difxmessage/README -text
libraries/difxmessage/configure.ac -text
libraries/difxmessage/difxmessage.h -text
libraries/difxmessage/difxmessage.pc.in -text
libraries/difxmessage/difxmessage.spec.in -text
libraries/difxmessage/difxmessage/Makefile.am -text
libraries/difxmessage/difxmessage/difxmessage.c -text
libraries/difxmessage/difxmessage/difxmessageinit.c -text
libraries/difxmessage/difxmessage/difxmessageinternal.h -text
libraries/difxmessage/difxmessage/difxparse.c -text
libraries/difxmessage/difxmessage/difxreceive.c -text
libraries/difxmessage/difxmessage/difxsend.c -text
libraries/difxmessage/difxmessage/difxsta.c -text
libraries/difxmessage/difxmessage/multicast.c -text
libraries/difxmessage/mark5ipc.h -text
libraries/difxmessage/mark5ipc.pc.in -text
libraries/difxmessage/mark5ipc/Makefile.am -text
libraries/difxmessage/mark5ipc/mark5lock.c -text
libraries/difxmessage/utils/Makefile.am -text
libraries/difxmessage/utils/cpumon -text
libraries/difxmessage/utils/difxdiagnosticmon -text
libraries/difxmessage/utils/difxlog.c -text
libraries/difxmessage/utils/difxwatch -text
libraries/difxmessage/utils/drivemon -text
libraries/difxmessage/utils/errormon -text
libraries/difxmessage/utils/errormon2 -text
libraries/difxmessage/utils/getsmart -text
libraries/difxmessage/utils/mk5display -text
libraries/difxmessage/utils/mk5mon -text
libraries/difxmessage/utils/probemachine.c -text
libraries/difxmessage/utils/restartdifx -text
libraries/difxmessage/utils/sendsmart.c -text
libraries/difxmessage/utils/sendtransient.c -text
libraries/difxmessage/utils/smartmon -text
libraries/difxmessage/utils/statemon -text
libraries/difxmessage/utils/testdifxmessagedrivestats.c -text
libraries/difxmessage/utils/testdifxmessagereceive.c -text
libraries/difxmessage/utils/testdifxmessagereceivecond.c -text
libraries/difxmessage/utils/testdifxmessagesend.c -text
libraries/difxmessage/utils/testm5lock.c -text
libraries/difxmessage/utils/testmachine.c -text
libraries/difxmessage/utils/testmachine.h -text
libraries/difxmessage/utils/testseqnumbers.c -text
libraries/difxmessage/utils/updatedifxclock.c -text
libraries/mark5access/AUTHORS -text
libraries/mark5access/COPYING -text
libraries/mark5access/ChangeLog -text
libraries/mark5access/Makefile.am -text
libraries/mark5access/README -text
libraries/mark5access/TODO -text
libraries/mark5access/bbsum/Makefile.am -text
libraries/mark5access/bbsum/bbsum.c -text
libraries/mark5access/configure.ac -text
libraries/mark5access/doc/DeveloperGuide -text
libraries/mark5access/doc/Makefile.am -text
libraries/mark5access/doc/UserGuide -text
libraries/mark5access/examples/Makefile.am -text
libraries/mark5access/examples/directory2filelist.c -text
libraries/mark5access/examples/fixmark5b.c -text
libraries/mark5access/examples/m5bstate.c -text
libraries/mark5access/examples/m5bsum.c -text
libraries/mark5access/examples/m5d.c -text
libraries/mark5access/examples/m5fb.c -text
libraries/mark5access/examples/m5findformats.c -text
libraries/mark5access/examples/m5fold.c -text
libraries/mark5access/examples/m5pcal.c -text
libraries/mark5access/examples/m5slice.c -text
libraries/mark5access/examples/m5spec.c -text
libraries/mark5access/examples/m5test.c -text
libraries/mark5access/examples/m5time.c -text
libraries/mark5access/examples/m5timeseries.c -text
libraries/mark5access/examples/m5tsys.c -text
libraries/mark5access/examples/phxsel.c -text
libraries/mark5access/examples/test5b.c -text
libraries/mark5access/examples/test_all_unpack -text
libraries/mark5access/examples/test_mark5_stream.c -text
libraries/mark5access/examples/test_unpacker.c -text
libraries/mark5access/examples/zerocorr.c -text
libraries/mark5access/examples/zerocorr.in -text
libraries/mark5access/mark5access.h -text
libraries/mark5access/mark5access.pc.in -text
libraries/mark5access/mark5access.spec.in -text
libraries/mark5access/mark5access/Makefile.am -text
libraries/mark5access/mark5access/blanker_mark5.c -text
libraries/mark5access/mark5access/blanker_none.c -text
libraries/mark5access/mark5access/format_k5.c -text
libraries/mark5access/mark5access/format_vdif.c -text
libraries/mark5access/mark5access/format_vdifb.c -text
libraries/mark5access/mark5access/mark5_format_kvn5b.c -text
libraries/mark5access/mark5access/mark5_format_mark4.c -text
libraries/mark5access/mark5access/mark5_format_mark5b.c -text
libraries/mark5access/mark5access/mark5_format_vlba.c -text
libraries/mark5access/mark5access/mark5_format_vlba_nomod.c -text
libraries/mark5access/mark5access/mark5_stream.c -text
libraries/mark5access/mark5access/mark5_stream.h -text
libraries/mark5access/mark5access/mark5_stream_file.c -text
libraries/mark5access/mark5access/mark5_stream_memory.c -text
libraries/mark5access/mark5access/mark5_stream_unpacker.c -text
libraries/mark5access/mark5access/mark5bfile.c -text
libraries/mark5access/mark5access/mark5bfile.h -text
libraries/mark5access/mark5access/mark5bfix.c -text
libraries/mark5access/mark5access/mark5bfix.h -text
libraries/perl/Astro/Astro/Coord.pm -text
libraries/perl/Astro/Astro/Misc.pm -text
libraries/perl/Astro/Astro/Time.pm -text
libraries/perl/Astro/Changes -text
libraries/perl/Astro/MANIFEST -text
libraries/perl/Astro/META.yml -text
libraries/perl/Astro/Makefile.PL -text
libraries/perl/Astro/README -text
libraries/perl/Astro/test.pl -text
libraries/perl/DIFX-Input/Input.pm -text
libraries/perl/DIFX-Input/MANIFEST -text
libraries/perl/DIFX-Input/Makefile.PL -text
libraries/perl/DIFX-Input/test.pl -text
libraries/python/AUTHORS -text
libraries/python/ChangeLog -text
libraries/python/Makefile.am -text
libraries/python/NEWS -text
libraries/python/README -text
libraries/python/configure.ac -text
libraries/python/difxdb/Makefile.am -text
libraries/python/difxdb/business/experimenttypeaction.py -text
libraries/python/difxdb/business/useraction.py -text
libraries/python/difxdb/business/versionhistoryaction.py -text
libraries/python/difxfile/Makefile.am -text
libraries/python/difxfile/difxmachines.py -text
libraries/python/difxutil/Makefile.am -text
libraries/python/difxutil/dbutil.py -text
libraries/python/tkinter/Makefile.am -text
libraries/vdifio/AUTHORS -text
libraries/vdifio/COPYING -text
libraries/vdifio/ChangeLog -text
libraries/vdifio/Makefile.am -text
libraries/vdifio/README -text
libraries/vdifio/configure.ac -text
libraries/vdifio/m4/openmp.m4 -text
libraries/vdifio/src/Makefile.am -text
libraries/vdifio/src/decode.c -text
libraries/vdifio/src/vdifbuffer.c -text
libraries/vdifio/src/vdiffile.c -text
libraries/vdifio/src/vdifio.c -text
libraries/vdifio/src/vdifio.h -text
libraries/vdifio/src/vdifmux.c -text
libraries/vdifio/utils/Makefile.am -text
libraries/vdifio/utils/captureUDPVDIF.c -text
libraries/vdifio/utils/cleanVDIF.c -text
libraries/vdifio/utils/countVDIFPackets.c -text
libraries/vdifio/utils/extractSingleVDIFThread.c -text
libraries/vdifio/utils/extractVDIFThreads.c -text
libraries/vdifio/utils/fakemultiVDIF.c -text
libraries/vdifio/utils/multi2singlethreadVDIF.c -text
libraries/vdifio/utils/padVDIF.c -text
libraries/vdifio/utils/peekVDIF.c -text
libraries/vdifio/utils/printVDIF.c -text
libraries/vdifio/utils/searchVDIF.c -text
libraries/vdifio/utils/stripVDIF.c -text
libraries/vdifio/utils/testcornerturners.c -text
libraries/vdifio/utils/vdif2to8.c -text
libraries/vdifio/utils/vdifbstate -text
libraries/vdifio/utils/vdifd -text
libraries/vdifio/utils/vdiffold -text
libraries/vdifio/utils/vdifspec -text
libraries/vdifio/utils/vmux.c -text
libraries/vdifio/utils/vsum.c -text
libraries/vdifio/vdifio.pc.in -text
libraries/vdifio/vdifio.spec.in -text
libraries/vex/vexlib/Makefile -text
libraries/vex/vexlib/Makefile.osx -text
libraries/vex/vexlib/print_vex.c -text
libraries/vex/vexlib/vex.h -text
libraries/vex/vexlib/vex.y -text
libraries/vex/vexlib/vex.yy.l -text
libraries/vex/vexlib/vex_get.c -text
libraries/vex/vexlib/vex_put.c -text
libraries/vex/vexlib/vex_util.c -text
libraries/vex/vexlib/vexf.c -text
libraries/vex/vexlib/vexf_put.c -text
libraries/vex/vexlib/y.tab.h -text
libraries/vex/vexperl/Changes -text
libraries/vex/vexperl/MANIFEST -text
libraries/vex/vexperl/META.yml -text
libraries/vex/vexperl/Makefile.PL -text
libraries/vex/vexperl/Quanta.pm -text
libraries/vex/vexperl/Vex.pm -text
libraries/vex/vexperl/VexParser.pm -text
libraries/vex/vexperl/VexParser.xs -text
libraries/vex/vexperl/examples/readvex.pl -text
libraries/vex/vexperl/test.pl -text
libraries/vex/vexperl/typemap -text
mpifxcorr/AUTHORS -text
mpifxcorr/COPYING -text
mpifxcorr/ChangeLog -text
mpifxcorr/Doxyfile -text
mpifxcorr/INSTALL -text
mpifxcorr/Makefile.am -text
mpifxcorr/NEWS -text
mpifxcorr/README -text
mpifxcorr/TODO -text
mpifxcorr/config.guess -text
mpifxcorr/config.sub -text
mpifxcorr/configure.ac -text
mpifxcorr/fxcorr.pc.in -text
mpifxcorr/m4/openmp.m4 -text
mpifxcorr/mpifxcorr.pc.in -text
mpifxcorr/scripts/Makefile.am -text
mpifxcorr/scripts/stopmpifxcorr -text
mpifxcorr/src/Makefile.am -text
mpifxcorr/src/alert.cpp -text
mpifxcorr/src/alert.h -text
mpifxcorr/src/architecture.h.in -text
mpifxcorr/src/configuration.cpp -text
mpifxcorr/src/configuration.h -text
mpifxcorr/src/core.cpp -text
mpifxcorr/src/core.h -text
mpifxcorr/src/datamuxer.cpp -text
mpifxcorr/src/datamuxer.h -text
mpifxcorr/src/datastream.cpp -text
mpifxcorr/src/datastream.h -text
mpifxcorr/src/fxmanager.cpp -text
mpifxcorr/src/fxmanager.h -text
mpifxcorr/src/mark5bfile.cpp -text
mpifxcorr/src/mark5bfile.h -text
mpifxcorr/src/mark5bmark5.cpp -text
mpifxcorr/src/mark5bmark5.h -text
mpifxcorr/src/mark5bmark5_stubs.cpp -text
mpifxcorr/src/mark5dir.cpp -text
mpifxcorr/src/mark5dir.h -text
mpifxcorr/src/mark5utils.cpp -text
mpifxcorr/src/mark5utils.h -text
mpifxcorr/src/mk5.cpp -text
mpifxcorr/src/mk5.h -text
mpifxcorr/src/mk5mode.cpp -text
mpifxcorr/src/mk5mode.h -text
mpifxcorr/src/mode.cpp -text
mpifxcorr/src/mode.h -text
mpifxcorr/src/model.cpp -text
mpifxcorr/src/model.h -text
mpifxcorr/src/mpifxcorr.cpp -text
mpifxcorr/src/mpifxcorr.h -text
mpifxcorr/src/nativemk5.cpp -text
mpifxcorr/src/nativemk5.h -text
mpifxcorr/src/nativemk5_stubs.cpp -text
mpifxcorr/src/pcal.cpp -text
mpifxcorr/src/pcal.h -text
mpifxcorr/src/pcal_impl.h -text
mpifxcorr/src/polyco.cpp -text
mpifxcorr/src/polyco.h -text
mpifxcorr/src/switchedpower.cpp -text
mpifxcorr/src/switchedpower.h -text
mpifxcorr/src/vdiffile.cpp -text
mpifxcorr/src/vdiffile.h -text
mpifxcorr/src/vdifmark5.cpp -text
mpifxcorr/src/vdifmark5.h -text
mpifxcorr/src/vdifmark5_stubs.cpp -text
mpifxcorr/src/visibility.cpp -text
mpifxcorr/src/visibility.h -text
mpifxcorr/src/watchdog.cpp -text
mpifxcorr/src/watchdog.h -text
mpifxcorr/utils/Makefile.am -text
mpifxcorr/utils/checkmpifxcorr.cpp -text
mpifxcorr/utils/dedisperse_difx.cpp -text
mpifxcorr/utils/mpispeed.cpp -text
