* text=auto !eol
libraries/trunk/AUTHORS -text
libraries/trunk/COPYING -text
libraries/trunk/ChangeLog -text
libraries/trunk/INSTALL -text
libraries/trunk/Makefile.am -text
libraries/trunk/README -text
libraries/trunk/configure.ac -text
libraries/trunk/difxmessage.h -text
libraries/trunk/difxmessage.pc.in -text
libraries/trunk/difxmessage/Makefile.am -text
libraries/trunk/difxmessage/difxmessage.c -text
libraries/trunk/difxmessage/difxmessageinit.c -text
libraries/trunk/difxmessage/difxmessageinternal.h -text
libraries/trunk/difxmessage/difxparse.c -text
libraries/trunk/difxmessage/difxreceive.c -text
libraries/trunk/difxmessage/difxsend.c -text
libraries/trunk/difxmessage/difxsta.c -text
libraries/trunk/difxmessage/multicast.c -text
libraries/trunk/mark5ipc.h -text
libraries/trunk/mark5ipc.pc.in -text
libraries/trunk/mark5ipc/Makefile.am -text
libraries/trunk/mark5ipc/mark5lock.c -text
libraries/trunk/utils/Makefile.am -text
libraries/trunk/utils/cpumon -text
libraries/trunk/utils/difxdiagnosticmon -text
libraries/trunk/utils/difxlog.c -text
libraries/trunk/utils/difxwatch -text
libraries/trunk/utils/drivemon -text
libraries/trunk/utils/errormon -text
libraries/trunk/utils/errormon2 -text
libraries/trunk/utils/getsmart -text
libraries/trunk/utils/mk5display -text
libraries/trunk/utils/mk5mon -text
libraries/trunk/utils/mk6mon -text
libraries/trunk/utils/probemachine.c -text
libraries/trunk/utils/restartdifx -text
libraries/trunk/utils/sendsmart.c -text
libraries/trunk/utils/sendtransient.c -text
libraries/trunk/utils/smartmon -text
libraries/trunk/utils/statemon -text
libraries/trunk/utils/testdifxmessagedrivestats.c -text
libraries/trunk/utils/testdifxmessagereceive.c -text
libraries/trunk/utils/testdifxmessagereceivecond.c -text
libraries/trunk/utils/testdifxmessagesend.c -text
libraries/trunk/utils/testm5lock.c -text
libraries/trunk/utils/testmachine.c -text
libraries/trunk/utils/testmachine.h -text
libraries/trunk/utils/testseqnumbers.c -text
libraries/trunk/utils/updatedifxclock.c -text
libraries/trunk/vlbi-difxmessage.spec.in -text
