* text=auto !eol
libraries/difxio/AUTHORS -text
libraries/difxio/COPYING -text
libraries/difxio/ChangeLog -text
libraries/difxio/Makefile.am -text
libraries/difxio/README -text
libraries/difxio/configure.ac -text
libraries/difxio/difxio.h -text
libraries/difxio/difxio.pc.in -text
libraries/difxio/difxio.spec.in -text
libraries/difxio/difxio/Makefile.am -text
libraries/difxio/difxio/difx_antenna.c -text
libraries/difxio/difxio/difx_baseline.c -text
libraries/difxio/difxio/difx_calculator.c -text
libraries/difxio/difxio/difx_calculator.h -text
libraries/difxio/difxio/difx_config.c -text
libraries/difxio/difxio/difx_datastream.c -text
libraries/difxio/difxio/difx_eop.c -text
libraries/difxio/difxio/difx_flag.c -text
libraries/difxio/difxio/difx_freq.c -text
libraries/difxio/difxio/difx_freqset.c -text
libraries/difxio/difxio/difx_if.c -text
libraries/difxio/difxio/difx_input.c -text
libraries/difxio/difxio/difx_input.h -text
libraries/difxio/difxio/difx_input_merge.c -text
libraries/difxio/difxio/difx_job.c -text
libraries/difxio/difxio/difx_model.c -text
libraries/difxio/difxio/difx_phasedarray.c -text
libraries/difxio/difxio/difx_poly_model.c -text
libraries/difxio/difxio/difx_polyco.c -text
libraries/difxio/difxio/difx_pulsar.c -text
libraries/difxio/difxio/difx_radioastron.h -text
libraries/difxio/difxio/difx_rule.c -text
libraries/difxio/difxio/difx_scan.c -text
libraries/difxio/difxio/difx_source.c -text
libraries/difxio/difxio/difx_spacecraft.c -text
libraries/difxio/difxio/difx_tcal.c -text
libraries/difxio/difxio/difx_tcal.h -text
libraries/difxio/difxio/difx_threads.c -text
libraries/difxio/difxio/difx_write.c -text
libraries/difxio/difxio/difx_write.h -text
libraries/difxio/difxio/difx_write_calc.c -text
libraries/difxio/difxio/difx_write_im.c -text
libraries/difxio/difxio/difx_write_input.c -text
libraries/difxio/difxio/difx_write_pulsar.c -text
libraries/difxio/difxio/parsedifx.c -text
libraries/difxio/difxio/parsedifx.h -text
libraries/difxio/difxio/parsevis.c -text
libraries/difxio/difxio/parsevis.h -text
libraries/difxio/difxio/remap.c -text
libraries/difxio/tests/Makefile.am -text
libraries/difxio/tests/pb_math.c -text
libraries/difxio/tests/pbgen.c -text
libraries/difxio/tests/pbgen.h -text
libraries/difxio/tests/testdifxinput.c -text
libraries/difxio/tests/testephem.c -text
libraries/difxio/tests/testparsedifx.c -text
libraries/difxio/tests/testparsevis.c -text
libraries/difxio/tests/teststringarray.c -text
libraries/difxio/tests/testtcal.c -text
libraries/difxio/tests/util.c -text
libraries/difxio/tests/util.h -text
libraries/difxio/utils/Makefile.am -text
libraries/difxio/utils/avgDiFX.c -text
libraries/difxio/utils/calcderiv.c -text
libraries/difxio/utils/computetotals.c -text
libraries/difxio/utils/difxcalculator.c -text
libraries/difxio/utils/mvdifxhere -text
libraries/difxio/utils/psrflag.c -text
libraries/difxio/utils/reducepoly.c -text
libraries/difxio/utils/tabulatedelays.c -text
libraries/difxmessage/AUTHORS -text
libraries/difxmessage/COPYING -text
libraries/difxmessage/ChangeLog -text
libraries/difxmessage/INSTALL -text
libraries/difxmessage/Makefile.am -text
libraries/difxmessage/README -text
libraries/difxmessage/configure.ac -text
libraries/difxmessage/difxmessage.h -text
libraries/difxmessage/difxmessage.pc.in -text
libraries/difxmessage/difxmessage/Makefile.am -text
libraries/difxmessage/difxmessage/difxmessage.c -text
libraries/difxmessage/difxmessage/difxmessageinit.c -text
libraries/difxmessage/difxmessage/difxmessageinternal.h -text
libraries/difxmessage/difxmessage/difxparse.c -text
libraries/difxmessage/difxmessage/difxreceive.c -text
libraries/difxmessage/difxmessage/difxsend.c -text
libraries/difxmessage/difxmessage/difxsta.c -text
libraries/difxmessage/difxmessage/multicast.c -text
libraries/difxmessage/mark5ipc.h -text
libraries/difxmessage/mark5ipc.pc.in -text
libraries/difxmessage/mark5ipc/Makefile.am -text
libraries/difxmessage/mark5ipc/mark5lock.c -text
libraries/difxmessage/utils/Makefile.am -text
libraries/difxmessage/utils/cpumon -text
libraries/difxmessage/utils/difxdiagnosticmon -text
libraries/difxmessage/utils/difxlog.c -text
libraries/difxmessage/utils/difxwatch -text
libraries/difxmessage/utils/drivemon -text
libraries/difxmessage/utils/errormon -text
libraries/difxmessage/utils/errormon2 -text
libraries/difxmessage/utils/getsmart -text
libraries/difxmessage/utils/mk5display -text
libraries/difxmessage/utils/mk5mon -text
libraries/difxmessage/utils/mk6mon -text
libraries/difxmessage/utils/probemachine.c -text
libraries/difxmessage/utils/restartdifx -text
libraries/difxmessage/utils/sendsmart.c -text
libraries/difxmessage/utils/sendtransient.c -text
libraries/difxmessage/utils/smartmon -text
libraries/difxmessage/utils/statemon -text
libraries/difxmessage/utils/testdifxmessagedrivestats.c -text
libraries/difxmessage/utils/testdifxmessagereceive.c -text
libraries/difxmessage/utils/testdifxmessagereceivecond.c -text
libraries/difxmessage/utils/testdifxmessagesend.c -text
libraries/difxmessage/utils/testm5lock.c -text
libraries/difxmessage/utils/testmachine.c -text
libraries/difxmessage/utils/testmachine.h -text
libraries/difxmessage/utils/testseqnumbers.c -text
libraries/difxmessage/utils/updatedifxclock.c -text
libraries/difxmessage/vlbi-difxmessage.spec.in -text
libraries/dirlist/AUTHORS -text
libraries/dirlist/ChangeLog -text
libraries/dirlist/Makefile.am -text
libraries/dirlist/README -text
libraries/dirlist/configure.ac -text
libraries/dirlist/dirlist.pc.in -text
libraries/dirlist/doc/newdir.tex -text
libraries/dirlist/sampledata/Mark6.slist -text
libraries/dirlist/sampledata/NRAO+444.bindir -text
libraries/dirlist/sampledata/NRAO+444.dir -text
libraries/dirlist/sampledata/filelist.pt -text
libraries/dirlist/src/Makefile.am -text
libraries/dirlist/src/dirlist.cpp -text
libraries/dirlist/src/dirlist.h -text
libraries/dirlist/src/dirlist_datum.cpp -text
libraries/dirlist/src/dirlist_datum.h -text
libraries/dirlist/src/dirlist_datum_mark5.cpp -text
libraries/dirlist/src/dirlist_datum_mark5.h -text
libraries/dirlist/src/dirlist_datum_mark6.cpp -text
libraries/dirlist/src/dirlist_datum_mark6.h -text
libraries/dirlist/src/dirlist_exception.h -text
libraries/dirlist/src/dirlist_parameter.cpp -text
libraries/dirlist/src/dirlist_parameter.h -text
libraries/dirlist/src/old_dirlist.cpp -text
libraries/dirlist/src/old_dirlist.h -text
libraries/dirlist/src/old_filelist.cpp -text
libraries/dirlist/src/old_filelist.h -text
libraries/dirlist/src/parse.cpp -text
libraries/dirlist/src/parse.h -text
libraries/dirlist/src/utils.cpp -text
libraries/dirlist/src/utils.h -text
libraries/dirlist/tests/Makefile.am -text
libraries/dirlist/tests/test_copy.cpp -text
libraries/dirlist/tests/test_dirlist_parameter.cpp -text
libraries/dirlist/tests/test_filelist_read.cpp -text
libraries/dirlist/tests/test_old_read.cpp -text
libraries/dirlist/tests/test_tokenize.cpp -text
libraries/dirlist/utils/2dirlist.cpp -text
libraries/dirlist/utils/Makefile.am -text
libraries/dirlist/utils/calcsig.c -text
libraries/dirlist/utils/printdirlist.cpp -text
libraries/mark5access/AUTHORS -text
libraries/mark5access/COPYING -text
libraries/mark5access/ChangeLog -text
libraries/mark5access/Makefile.am -text
libraries/mark5access/README -text
libraries/mark5access/TODO -text
libraries/mark5access/bbsum/Makefile.am -text
libraries/mark5access/bbsum/bbsum.c -text
libraries/mark5access/configure.ac -text
libraries/mark5access/doc/DeveloperGuide -text
libraries/mark5access/doc/Makefile.am -text
libraries/mark5access/doc/UserGuide -text
libraries/mark5access/examples/Makefile.am -text
libraries/mark5access/examples/directory2filelist.c -text
libraries/mark5access/examples/fixmark5b.c -text
libraries/mark5access/examples/m5bstate.c -text
libraries/mark5access/examples/m5bsum.c -text
libraries/mark5access/examples/m5d.c -text
libraries/mark5access/examples/m5fb.c -text
libraries/mark5access/examples/m5findformats.c -text
libraries/mark5access/examples/m5fold.c -text
libraries/mark5access/examples/m5pcal.c -text
libraries/mark5access/examples/m5slice.c -text
libraries/mark5access/examples/m5spec.c -text
libraries/mark5access/examples/m5subband.c -text
libraries/mark5access/examples/m5test.c -text
libraries/mark5access/examples/m5time.c -text
libraries/mark5access/examples/m5timeseries.c -text
libraries/mark5access/examples/m5tsys.c -text
libraries/mark5access/examples/makeheader.c -text
libraries/mark5access/examples/phxsel.c -text
libraries/mark5access/examples/test5b.c -text
libraries/mark5access/examples/test_all_unpack -text
libraries/mark5access/examples/test_mark5_stream.c -text
libraries/mark5access/examples/test_unpacker.c -text
libraries/mark5access/examples/zerocorr.c -text
libraries/mark5access/examples/zerocorr.in -text
libraries/mark5access/examples/zerocorr_makeconfig.py -text
libraries/mark5access/mark5access.h -text
libraries/mark5access/mark5access.pc.in -text
libraries/mark5access/mark5access/Makefile.am -text
libraries/mark5access/mark5access/blanker_mark5.c -text
libraries/mark5access/mark5access/blanker_none.c -text
libraries/mark5access/mark5access/format_k5.c -text
libraries/mark5access/mark5access/format_vdif.c -text
libraries/mark5access/mark5access/format_vdifb.c -text
libraries/mark5access/mark5access/mark5_format_d2k.c -text
libraries/mark5access/mark5access/mark5_format_d2k.h -text
libraries/mark5access/mark5access/mark5_format_kvn5b.c -text
libraries/mark5access/mark5access/mark5_format_mark4.c -text
libraries/mark5access/mark5access/mark5_format_mark5b.c -text
libraries/mark5access/mark5access/mark5_format_vlba.c -text
libraries/mark5access/mark5access/mark5_format_vlba_nomod.c -text
libraries/mark5access/mark5access/mark5_stream.c -text
libraries/mark5access/mark5access/mark5_stream.h -text
libraries/mark5access/mark5access/mark5_stream_file.c -text
libraries/mark5access/mark5access/mark5_stream_memory.c -text
libraries/mark5access/mark5access/mark5_stream_unpacker.c -text
libraries/mark5access/mark5access/mark5bfile.c -text
libraries/mark5access/mark5access/mark5bfile.h -text
libraries/mark5access/mark5access/mark5bfix.c -text
libraries/mark5access/mark5access/mark5bfix.h -text
libraries/mark5access/python/AUTHORS -text
libraries/mark5access/python/COMPILING -text
libraries/mark5access/python/LICENSE.txt -text
libraries/mark5access/python/Makefile.am -text
libraries/mark5access/python/README -text
libraries/mark5access/python/TODO -text
libraries/mark5access/python/examples/m5selfcorr.py -text
libraries/mark5access/python/examples/m5spec.py -text
libraries/mark5access/python/examples/m5stat.py -text
libraries/mark5access/python/examples/m5subband.py -text
libraries/mark5access/python/examples/m5time.py -text
libraries/mark5access/python/examples/m5tone.py -text
libraries/mark5access/python/mark5access/__init__.py -text
libraries/mark5access/python/mark5access/mark5access.py -text
libraries/mark5access/python/mark5access/mark5access_helpers.py -text
libraries/mark5access/python/mark5access/mark5access_writers.py -text
libraries/mark5access/python/patch/codegenerator.patch -text
libraries/mark5access/python/setup.py -text
libraries/mark5access/vlbi-mark5access.spec.in -text
libraries/mark6meta/AUTHORS -text
libraries/mark6meta/ChangeLog -text
libraries/mark6meta/Makefile.am -text
libraries/mark6meta/README -text
libraries/mark6meta/configure.ac -text
libraries/mark6meta/mark6meta.pc.in -text
libraries/mark6meta/src/Makefile.am -text
libraries/mark6meta/src/Mark6.cpp -text
libraries/mark6meta/src/Mark6.h -text
libraries/mark6meta/src/Mark6DiskDevice.cpp -text
libraries/mark6meta/src/Mark6DiskDevice.h -text
libraries/mark6meta/src/Mark6Meta.cpp -text
libraries/mark6meta/src/Mark6Meta.h -text
libraries/mark6meta/src/Mark6Module.cpp -text
libraries/mark6meta/src/Mark6Module.h -text
libraries/mark6sg/AUTHORS -text
libraries/mark6sg/COMPILING -text
libraries/mark6sg/COPYING -text
libraries/mark6sg/ChangeLog -text
libraries/mark6sg/Makefile.am -text
libraries/mark6sg/README -text
libraries/mark6sg/TODO -text
libraries/mark6sg/configure.ac -text
libraries/mark6sg/doc/DeveloperInfo -text
libraries/mark6sg/doc/ReverseEngineered -text
libraries/mark6sg/extra/Makefile.am -text
libraries/mark6sg/extra/fuseMk6.c -text
libraries/mark6sg/extra/m6sg_blocknrs.c -text
libraries/mark6sg/extra/m6sg_gather.c -text
libraries/mark6sg/extra/m6sg_mount -text
libraries/mark6sg/extra/mk6copy.c -text
libraries/mark6sg/jsmn/LICENSE -text
libraries/mark6sg/jsmn/Makefile.am -text
libraries/mark6sg/jsmn/README.md -text
libraries/mark6sg/jsmn/example/jsondump.c -text
libraries/mark6sg/jsmn/example/simple.c -text
libraries/mark6sg/jsmn/jsmn.c -text
libraries/mark6sg/jsmn/jsmn.h -text
libraries/mark6sg/jsmn/jsmn_test.c -text
libraries/mark6sg/mark6sg.h -text
libraries/mark6sg/mark6sg.pc.in -text
libraries/mark6sg/mark6sg.spec.in -text
libraries/mark6sg/mark6sg/Makefile.am -text
libraries/mark6sg/mark6sg/mark6_sg_utils.c -text
libraries/mark6sg/mark6sg/mark6_sg_utils.h -text
libraries/mark6sg/mark6sg/mark6_sg_vfs.c -text
libraries/mark6sg/mark6sg/mark6_sg_vfs.h -text
libraries/mark6sg/test/Makefile.am -text
libraries/mark6sg/test/m6sg_test1.c -text
libraries/perl/Astro/Astro/Coord.pm -text
libraries/perl/Astro/Astro/Misc.pm -text
libraries/perl/Astro/Astro/Time.pm -text
libraries/perl/Astro/Changes -text
libraries/perl/Astro/MANIFEST -text
libraries/perl/Astro/META.yml -text
libraries/perl/Astro/Makefile.PL -text
libraries/perl/Astro/README -text
libraries/perl/Astro/test.pl -text
libraries/perl/DIFX-Input/Input.pm -text
libraries/perl/DIFX-Input/MANIFEST -text
libraries/perl/DIFX-Input/Makefile.PL -text
libraries/perl/DIFX-Input/test.pl -text
libraries/python/AUTHORS -text
libraries/python/ChangeLog -text
libraries/python/Makefile.am -text
libraries/python/NEWS -text
libraries/python/README -text
libraries/python/configure.ac -text
libraries/python/difxdb/Makefile.am -text
libraries/python/difxdb/business/experimenttypeaction.py -text
libraries/python/difxdb/business/useraction.py -text
libraries/python/difxdb/business/versionhistoryaction.py -text
libraries/python/difxfile/Makefile.am -text
libraries/python/difxfile/difxmachines.py -text
libraries/python/difxutil/Makefile.am -text
libraries/python/difxutil/dbutil.py -text
libraries/python/tkinter/Makefile.am -text
libraries/vdifio/AUTHORS -text
libraries/vdifio/COPYING -text
libraries/vdifio/ChangeLog -text
libraries/vdifio/Makefile.am -text
libraries/vdifio/README -text
libraries/vdifio/configure.ac -text
libraries/vdifio/m4/openmp.m4 -text
libraries/vdifio/python/Makefile.am -text
libraries/vdifio/python/README -text
libraries/vdifio/python/examples/vdifio_1.py -text
libraries/vdifio/python/examples/vdifio_1.vdif -text
libraries/vdifio/python/setup.py -text
libraries/vdifio/python/vdifio/__init__.py -text
libraries/vdifio/python/vdifio/vdifio.py -text
libraries/vdifio/src/Makefile.am -text
libraries/vdifio/src/cornerturners.c -text
libraries/vdifio/src/dateutils.c -text
libraries/vdifio/src/dateutils.h -text
libraries/vdifio/src/pthreadbarrier.h -text
libraries/vdifio/src/sampleTemplate -text
libraries/vdifio/src/vdifbuffer.c -text
libraries/vdifio/src/vdiffile.c -text
libraries/vdifio/src/vdifio.c -text
libraries/vdifio/src/vdifio.h -text
libraries/vdifio/src/vdifmark6.c -text
libraries/vdifio/src/vdifmark6.h -text
libraries/vdifio/src/vdifmark6mux.c -text
libraries/vdifio/src/vdifmark6sg.c -text
libraries/vdifio/src/vdifmark6sg.h -text
libraries/vdifio/src/vdifmux.c -text
libraries/vdifio/utils/Makefile.am -text
libraries/vdifio/utils/captureUDPVDIF.c -text
libraries/vdifio/utils/cleanVDIF.c -text
libraries/vdifio/utils/countVDIFPackets.c -text
libraries/vdifio/utils/extractSingleVDIFThread.c -text
libraries/vdifio/utils/extractVDIFThreads.c -text
libraries/vdifio/utils/fakemultiVDIF.c -text
libraries/vdifio/utils/filterVDIF.c -text
libraries/vdifio/utils/generateVDIF.c -text
libraries/vdifio/utils/mk6gather.c -text
libraries/vdifio/utils/mk6ls.c -text
libraries/vdifio/utils/mk6summary.c -text
libraries/vdifio/utils/mk6vmux.c -text
libraries/vdifio/utils/multi2singlethreadVDIF.c -text
libraries/vdifio/utils/padVDIF.c -text
libraries/vdifio/utils/peekVDIF.c -text
libraries/vdifio/utils/printVDIF.c -text
libraries/vdifio/utils/printVDIFgaps.c -text
libraries/vdifio/utils/printVDIFheader.c -text
libraries/vdifio/utils/searchVDIF.c -text
libraries/vdifio/utils/stripVDIF.c -text
libraries/vdifio/utils/testcornerturners.c -text
libraries/vdifio/utils/vdif2to8.c -text
libraries/vdifio/utils/vdifChanSelect.c -text
libraries/vdifio/utils/vdifbstate -text
libraries/vdifio/utils/vdifd -text
libraries/vdifio/utils/vdiffold -text
libraries/vdifio/utils/vdifspec -text
libraries/vdifio/utils/vmux.c -text
libraries/vdifio/utils/vsum.c -text
libraries/vdifio/vdifio.pc.in -text
libraries/vdifio/vlbi-vdifio.spec.in -text
libraries/vex/vexlib/Makefile -text
libraries/vex/vexlib/Makefile.osx -text
libraries/vex/vexlib/print_vex.c -text
libraries/vex/vexlib/vex.h -text
libraries/vex/vexlib/vex.y -text
libraries/vex/vexlib/vex.yy.l -text
libraries/vex/vexlib/vex_get.c -text
libraries/vex/vexlib/vex_put.c -text
libraries/vex/vexlib/vex_util.c -text
libraries/vex/vexlib/vexf.c -text
libraries/vex/vexlib/vexf_put.c -text
libraries/vex/vexperl/Changes -text
libraries/vex/vexperl/MANIFEST -text
libraries/vex/vexperl/META.yml -text
libraries/vex/vexperl/Makefile.PL -text
libraries/vex/vexperl/Quanta.pm -text
libraries/vex/vexperl/Vex.pm -text
libraries/vex/vexperl/VexParser.pm -text
libraries/vex/vexperl/VexParser.xs -text
libraries/vex/vexperl/examples/readvex.pl -text
libraries/vex/vexperl/test.pl -text
libraries/vex/vexperl/typemap -text
mpifxcorr/AUTHORS -text
mpifxcorr/COPYING -text
mpifxcorr/ChangeLog -text
mpifxcorr/Doxyfile -text
mpifxcorr/Makefile.am -text
mpifxcorr/README -text
mpifxcorr/TODO -text
mpifxcorr/configure.ac -text
mpifxcorr/fxcorr.pc.in -text
mpifxcorr/m4/openmp.m4 -text
mpifxcorr/mpifxcorr.pc.in -text
mpifxcorr/scripts/Makefile.am -text
mpifxcorr/scripts/stopmpifxcorr -text
mpifxcorr/src/Makefile.am -text
mpifxcorr/src/alert.cpp -text
mpifxcorr/src/alert.h -text
mpifxcorr/src/architecture.h.in -text
mpifxcorr/src/configuration.cpp -text
mpifxcorr/src/configuration.h -text
mpifxcorr/src/core.cpp -text
mpifxcorr/src/core.h -text
mpifxcorr/src/datamuxer.cpp -text
mpifxcorr/src/datamuxer.h -text
mpifxcorr/src/datastream.cpp -text
mpifxcorr/src/datastream.h -text
mpifxcorr/src/fxmanager.cpp -text
mpifxcorr/src/fxmanager.h -text
mpifxcorr/src/mark5bfile.cpp -text
mpifxcorr/src/mark5bfile.h -text
mpifxcorr/src/mark5bmark5.cpp -text
mpifxcorr/src/mark5bmark5.h -text
mpifxcorr/src/mark5bmark5_stubs.cpp -text
mpifxcorr/src/mark5utils.cpp -text
mpifxcorr/src/mark5utils.h -text
mpifxcorr/src/mathutil.cpp -text
mpifxcorr/src/mathutil.h -text
mpifxcorr/src/mk5.cpp -text
mpifxcorr/src/mk5.h -text
mpifxcorr/src/mk5mode.cpp -text
mpifxcorr/src/mk5mode.h -text
mpifxcorr/src/mode.cpp -text
mpifxcorr/src/mode.h -text
mpifxcorr/src/model.cpp -text
mpifxcorr/src/model.h -text
mpifxcorr/src/mpifxcorr.cpp -text
mpifxcorr/src/mpifxcorr.h -text
mpifxcorr/src/nativemk5.cpp -text
mpifxcorr/src/nativemk5.h -text
mpifxcorr/src/nativemk5_stubs.cpp -text
mpifxcorr/src/pcal.cpp -text
mpifxcorr/src/pcal.h -text
mpifxcorr/src/pcal_impl.h -text
mpifxcorr/src/polyco.cpp -text
mpifxcorr/src/polyco.h -text
mpifxcorr/src/pthreadbarrier.h -text
mpifxcorr/src/sharedmemorybuffer.cpp -text
mpifxcorr/src/sharedmemorybuffer.h -text
mpifxcorr/src/switchedpower.cpp -text
mpifxcorr/src/switchedpower.h -text
mpifxcorr/src/vdiffake.cpp -text
mpifxcorr/src/vdiffake.h -text
mpifxcorr/src/vdiffile.cpp -text
mpifxcorr/src/vdiffile.h -text
mpifxcorr/src/vdifmark5.cpp -text
mpifxcorr/src/vdifmark5.h -text
mpifxcorr/src/vdifmark5_stubs.cpp -text
mpifxcorr/src/vdifmark6_datastream.cpp -text
mpifxcorr/src/vdifmark6_datastream.h -text
mpifxcorr/src/vdifnetwork.cpp -text
mpifxcorr/src/vdifnetwork.h -text
mpifxcorr/src/vdifsharedmemory.cpp -text
mpifxcorr/src/vdifsharedmemory.h -text
mpifxcorr/src/visibility.cpp -text
mpifxcorr/src/visibility.h -text
mpifxcorr/src/watchdog.cpp -text
mpifxcorr/src/watchdog.h -text
mpifxcorr/utils/Makefile.am -text
mpifxcorr/utils/checkmpifxcorr.cpp -text
mpifxcorr/utils/dedisperse_difx.cpp -text
mpifxcorr/utils/genmachines -text
mpifxcorr/utils/jobdisks -text
mpifxcorr/utils/joblist -text
mpifxcorr/utils/jobstatus -text
mpifxcorr/utils/mpispeed.cpp -text
mpifxcorr/utils/startdifx -text
